
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$betyboop-primary: mat.define-palette(mat.$indigo-palette);
$betyboop-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$betyboop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$betyboop-theme: mat.define-light-theme((
  color: (
    primary: $betyboop-primary,
    accent: $betyboop-accent,
    warn: $betyboop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($betyboop-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {

    font-family: "Metropolis";
    src: local("Metropolis"), url(./assets/fonts/Metropolis-Regular.otf) format("truetype");
    
}

@font-face {

  font-family: "MetropolisB";
  src: local("MetropolisB"), url(./assets/fonts/Metropolis-Black.otf) format("truetype");
  
}


body{
    font-family: "Metropolis", sans-serif;
    margin:0;
    background-image: url(https://betclick.hs.llnwd.net/e1/assets/betclic/default/banners/background_pattern_1.png);
    background-color: #e10014;
}

.mat-input-element {
  caret-color: #e10014 !important;
}

.close{
  background-color: #e10014;
  margin: 10px;
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  white-space: normal;
  border: 0.2rem solid transparent;
  border-radius: 2.3rem;
  user-select: none;
  height: 2.3rem;
  font-size: 1rem;
  min-width: 9rem;
  transition: 0.2s;
  width: 100%;
}

.qrCode{
  width: 100%;
}