.spacer {
    flex: 1;
  }

  .toolbar {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: white;
    font-weight: 600;

    i{
        margin: 0 5px;
        color: #1E98FD;
    }

    span{
      color: #1E98FD;
    }
  }

  .toolbar .navName{
    margin: 0 5px;
  }

  .toolbar img {
    margin: 0 10px;

    width: 145px;
  }

  .room{
    margin-left: 10px;
    font-size: 20px;
  }