.betBox {
  width: 100%;
  height: 100%;
  background-color: white;
}

.betBanner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 8rem;
  background-position: top;
  background-image: url("https://betclick.hs.llnwd.net/e1/pict/_webpictures/Football/_Leagues/Italy/Serie_A/Napoli/2022_Napoli_Home_Mertens.jpg");
  span {
    background-color: #1E98FD;
    color: white;
    padding: 5px;
  }
}

.betTitle {
  margin: 5px;
  display: flex;
  align-items: center;
  p {
    color: rgb(153, 153, 153);
    font-size: 10px;
  }
}

.betTeams {
  width: 100%;
  display: flex;
  margin-top: 15px;
  justify-content: center;
  .one {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.6em;
  }
  .two {
    color: rgb(102, 102, 102);
    margin-left: 10px;
    margin-right: 10px;
  }
}

.betSelections {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  span {
    width: 100%;
  }
  .betSelectionsBox {
    text-align: center;
    margin: 8px;
    width: 100%;
    span {
      margin-top: 3px;
    }
  }
}

.betTitlte{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.betSelectionPlayer {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  text-align: center;
  align-content: center;
  span {
    width: 100%;
    font-size: 1.5rem;

  }
  .tonPari {
    background-color: #000000;
    border-radius: 5px;
    margin: 7px;
    color: #b933f0;
    font-size: 1.9rem;
    padding: 5px;
    font-style: italic;
  }
}

.oddButtonWrapper {
  position: relative;
  z-index: 1;
  justify-content: center;
  align-self: stretch;
  text-align: center;
  padding: 1rem 0.7rem;
  border-radius: 0.4rem;
  background: #1E98FD;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 3px;
  color:black;
}

.grey-space {
  width: 100%;
  height: 10px;
  background-color: rgba(153, 153, 153, 0.419);
}

.bet-players {
  display: flex;
  background-color: #40c1bb17;
  margin-left: 5px;
  .title {
    margin: 5px;
    font-weight: bold;
  }
}

.share-qr {
  display: flex;
  justify-content: center;
  height: 100px;
}

.members {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.player-list {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  .playerBox {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 5px;
    .playerName {
      // flex-grow: 1;
    }
    .sepList {
      background-color: grey;
      flex-grow: 2;
      margin-left: 10px;
      margin-right: 10px;
      height: 2px;
      align-self: center;
      // flex-grow: 2;
    }
    .selecPlayer {
      width: 30%;
      font-weight: bold;

      // flex-grow: 1;
    }
  }
}

.mine {
}

.result {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  flex-direction: column;
  text-align: center;
  align-content: center;
  span {
    width: 100%;
    font-weight: bolder;
  }

  .resultSelection {
    color: white;
    border-radius: 5px;
    margin: 7px;
    font-size: 1.9rem;
    padding: 5px;
  }
}

.hasWin {
  color: #60c524;
}

.hasLoose {
  color: #e62b3c;
}

.hasWinBg {
  background-color: #60c524;
}

.hasNot {
  background-color: #000000;
}


.hasLooseBg {
  background-color: #e62b3c;
}

.hasNone{
  background-color: #e62b3c;
}

.button2 {
  background-color: #b933f0;
  margin: 10px;
  color: white;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  text-align: center;
  white-space: normal;
  border: 0.2rem solid transparent;
  border-radius: 2.3rem;
  user-select: none;
  height: 2.3rem;
  font-size: 1rem;
  min-width: 9rem;
  transition: 0.2s;
}


.me {
  font-family: "MetropolisB";
}


.shake {
  animation: shake 0.82s 1s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake2 {
  animation: shake 0.82s 2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.pot {
  bottom: 15%;
  position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
}
@-webkit-keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 0;    
  }
}